.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-1{
    margin: 8px 0px;
}

.my-2{
    margin: 15px 12px;
}

.text-center{
    text-align: center;
}